<div class="card">
    <h5 class="card-header">Principal</h5>
    <div class="card-body">
      <form [formGroup]="formPrincipal" (ngSubmit)="validatePrincipal()" >
        <div class="alert alert-success" role="alert" *ngIf="status" >
          <h4>{{mensagem}}</h4>
        </div>
        <div class="form-group">
            <label for="Id">Id</label>
            <input type="text" name="Id" id="Id" [(ngModel)]="principal.Id" formControlName="Id" *ngIf="principal.Id >0" >
            <span class="form-control" *ngIf="principal.Id == 0" ></span>
        </div>
        <div class="form-group">
          <label for="Texto">Texto</label>
          <input type="text" class="form-control" name="Texto" id="Texto" [(ngModel)]="principal.Texto" formControlName="Texto" >
        </div>
        <app-principal-label></app-principal-label>
        <app-principal-tag></app-principal-tag>
        <div class="form-group">
            <button class="btn btn-primary" type="submit">Add</button>
            <button class="btn btn-secondary">Cancelar</button>
        </div>
      </form>
  </div>
</div>
