<div class="card">
  <h5 class="card-header">Label</h5>
  <div class="card-body">
      <form [formGroup]="formLabel" (ngSubmit)="validateLabel()" >
          <div class="alert alert-success" role="alert" *ngIf="status" >
            <h4>{{mensagem}}</h4>
          </div>
            <div class="form-group">
                <label for="Id">Id</label>
                <input type="text" name="Id" id="Id" [(ngModel)]="label.Id" formControlName="Id" *ngIf="label.Id >0" >
                <span class="form-control" *ngIf="label.Id == 0" ></span>
            </div>
            <div class="form-group">
                <label for="Idprincipal">Id Principal</label>
                <app-autocomplite (onResult)="onSearchResult($event)"></app-autocomplite>
                <input type="text" class="form-control" name="Idprincipal" id="Idprincipal" [(ngModel)]="label.Idprincipal" formControlName="Idprincipal" >
            </div>
            <div class="form-group">
                <label for="Texto">Texto</label>
                <input type="text" class="form-control" name="Texto" id="Texto" [(ngModel)]="label.Texto" formControlName="Texto" >
            </div>
            <div class="form-group">
                <label for="Category">Category</label>
                <input type="text" class="form-control" name="Category" id="Category" [(ngModel)]="label.Category" formControlName="Category" >
            </div>
            <div class="form-group">
                <button class="btn btn-primary" type="submit">Add</button>
                <button class="btn btn-secondary">Cancelar</button>
            </div>
        </form>
  </div>
</div>
