<div class="container" >
    <div [class]="alertType" role="alert">
        {{message}}
    </div>
    <form [formGroup]="formSubjectMatter" (ngSubmit)="Save()" >
        <div class="form-group">
            <label for="exampleInputEmail1">Content</label>
            <input type="text" class="form-control" id="Content" 
            name="Content" [(ngModel)]="smView.Content" formControlName="Content" 
            aria-describedby="emailHelp" placeholder="Enter Content">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <app-label [formSubjectMatter]="formSubjectMatter" [labelControl]="Title" (createTag)="onTagAlize($event)" ></app-label>
        <app-tag [formSubjectMatter]="formSubjectMatter" [smView]="smView" [tagControl]="Tag" [listTag]="listTag" [textLabel]="textLabel" ></app-tag>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
