<br>
<div class="container" >
    <p appHighligth [highlightColor]="color">Highlighted me</p>
    <div [class]="alertType" role="alert">
        <p appHighlight> {{message}} </p>
    </div>
    <form [formGroup]="formSubjectMatter" (ngSubmit)="Save()" >
        <div class="form-group">
            <label for="exampleInputEmail1">Content</label>
            <textarea  class="form-control" id="Content"
            name="Content" [(ngModel)]="smView.Content" formControlName="Content"
            aria-describedby="contentHelp" placeholder="Enter Content" ></textarea>
            <small id="contentHelp" class="form-text text-muted">Content by subject.</small>
        </div>

        <app-label [formSubjectMatter]="formSubjectMatter" [labelControl]="Title" (createTag)="onTagAlize($event)" ></app-label>


        <app-tag [formSubjectMatter]="formSubjectMatter" [smView]="smView" [tagControl]="Tag" [listTag]="listTag" [textLabel]="textLabel" ></app-tag>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
