<div class="input-group mb-3">
  <input type="text" class="form-control" id="textTag" name="textTag" [(ngModel)]="textTag"
  placeholder="Simple Text Tag" aria-label="Simple Text Tag" aria-describedby="basic-addon2">
  <div class="input-group-append">
    <button class="btn btn-outline-secondary" type="button" (click)="onTagAlize($event)" >Button</button>
  </div>
</div>
<div class="input-group mb-3">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Tag</th>
        <th scope="col">Normalized</th>
        <th scope="col">Add</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of listTag; let i = index">
        <th scope="row">{{i}}</th>
        <th scope="col">{{item.SimpleText}}</th>
        <th scope="col">{{item.Normalized}}</th>
        <td>@mdo</td>
      </tr>
    </tbody>
  </table>
</div>
