<form [formGroup]="formLogin" (ngSubmit)="metodoSend()">
  <div>
    <label>{{mensagem}}</label>
    <div>
      <div>
        <label for="email">Email:</label>
      </div>
      <div>
        <input
          type="text"
          id="email"
          name="email"
          [(ngModel)]="email"
          formControlName="email"
          [class.erro]="isInvalid('email')">
        <label
          class="erro"
          *ngIf="isInvalid('email', 'required')"
          for="email"
          >Campo Obrigatório</label>
      </div>
    </div>
    <div>
        <div>
          <label for="senha">Senha:</label>
        </div>
        <div>
          <input
            type="password"
            id="senha"
            name="senha"
            [(ngModel)]="senha"
            formControlName="senha"
            [class.erro]="isInvalid('senha')">
          <label
            class="erro"
            *ngIf="isInvalid('senha', 'required')"
            for="senha"
            >Campo Obrigatório</label>
        </div>
      </div>
    <div>
      <button type="submit" >Enviar</button>
      <button type="button"  >Cancelar</button>
    </div>
  </div>
</form>
