<div class="card">
    <h5 class="card-header">Tag</h5>
    <div class="card-body">    
    <form [formGroup]="formTag" (ngSubmit)="validateTag()" >
      <div class="alert alert-success" role="alert" *ngIf="status" >
        <h4>{{mensagem}}</h4>
      </div>
      <div class="form-group">
          <label for="Id">Id</label>
          <input type="text" name="Id" id="Id" [(ngModel)]="tag.Id" formControlName="Id" *ngIf="tag.Id >0" >
          <span class="form-control" *ngIf="tag.Id == 0" ></span>
      </div>
      <div class="form-group">
        <label for="Idprincipal">Id Principal</label>
        <input type="text" class="form-control" name="Idprincipal" id="Idprincipal" [(ngModel)]="tag.Idprincipal" formControlName="Idprincipal" >
      </div>
      <div class="form-group">
        <label for="Tagtexto">Tag Texto</label>
        <input type="text" class="form-control" name="Tagtexto" id="Tagtexto" [(ngModel)]="tag.Tagtexto" formControlName="Tagtexto" >
      </div>
      <div class="form-group">
        <label for="Tagnormalized">Tag Normalized</label>
        <input type="text" class="form-control" name="Tagnormalized" id="Tagnormalized" [(ngModel)]="Tag.Tagnormalized" formControlName="Tagnormalized" >
      </div>
      <div class="form-group">
          <button class="btn btn-primary" type="submit">Add</button>
          <button class="btn btn-secondary">Cancelar</button>
      </div>
    </form>
  </div>
</div>
